.box__right {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}

.box__right__added {
   height: 68px;
   border-bottom: 1px solid #000000;
   font-weight: 400;
   font-size: 24px;
   display: flex;
   justify-content: start;
   align-items: flex-end;
   padding-left: 18px;
   padding-bottom: 7px;
}

.box__right__towns {
   padding-top: 25px;
   padding-left: 18px;
   padding-right: 18px;
   height: 99%;
   width: 100%;
   overflow:auto;
}

.box__right__towns__item {
   margin-top: 10px;
   font-weight: 400;
   font-size: 24px;
   display: flex;
   align-items:center;
   justify-content: space-between;
}

.box__right__towns__item__name {
   cursor: pointer;
}
.box__right__towns__item__name:hover {
   background:#53ea93;
}

.delete {
   display: block;
   width: 15px;
   height: 15px;
   cursor: pointer;
   border: none;
}

.delete:hover {
   width: 20px;
   height: 20px;
}